._5vb_,
._5vb_ #contentCol {
    background: #FFF !important;
}
._5bsm ._mp3 img {
    -webkit-border-radius: 50% !important;
}
._5bsm ._mp3:after {
    border: none !important;
}
._29h .img,
img._29h,
i._29h {
    border-radius: 50% !important;
}
._5v9u:after {
    border: none !important;
}
._5v3q ._5x46 {
    margin-bottom: 11px;
    margin-right: -13px !important;
    margin-left: -20px !important;
    background: #F0F0F0 !important;
    padding: 5px 5px 5px 5px !important;
    border: 1px solid #E2E2E2 !important;
}
._5v3q ._47we {
    margin: 0 !important;
    margin-top: 12px !important;
    margin-right: 10px !important;
}
._5mxv {
    border-top: none !important;
    margin-top: 12px !important;
    padding-top: 10px !important;
}
._5v3q ._5mxv {
    border-top-color: #e5e5e5 !important;
    margin-top: 9px !important;
    padding-top: 0 !important;
}
.UFIRow {
    background-color: #FFF !important;
}
.mbm {
    margin-bottom: 20px !important;
    box-shadow: 1px 1px 10px -4px #888 !important;
}
._4-u2 {
    border: 1px solid !important;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5 !important;
    -webkit-border-radius: 0 !important;
}
._5v9k .UFIAddComment .UFIImageBlockImage:after,
._5v9k .UFIComment .UFIImageBlockImage:after {
    border: none !important;
}
._5vsj .UFIRow.UFIFirstComponent {
    border-top: none !important;
    margin: 0 !important;
    padding-left: 12px !important;
    padding-right: 12px !important;
    padding-top: 0 !important;
}
._5vsj._5vsj._5vsj {
    background-color: #FFF !important;
}
._20h,
._k83,
._51l_ {
    border-radius: 50% !important;
}
._202 {
    transition: 0.2s !important;
}
#fbTimelineHeadline .profilePicThumb .img {
    border-radius: 50% !important
}
#fbTimelineHeadline .profilePicThumb {
    background: none !important;
}
.fbTimelineFriendsBoxLarge .fbTimelineBoxCount,
.fbTimelineFriendsBoxLarge .friendPhoto {
    border-radius: 50% !important;
}
.fbTimelineFriendsBoxLarge .friendName {
    background: none !important;
    padding-top: 0 !important;
    text-align: center !important;
    margin-bottom: 10px !important;
    text-shadow: 1px 1px #000 !important;
    left: 4px !important;
    max-width: 84px !important;
}
body {
    background: #FFF !important;
}
.fbTimelineCapsule {
    background: #FFF !important;
}
._7lt ._7lw {
    -webkit-border-radius: 50% !important;
    ;
}
.sp_9cfbs3drKhH.sx_f4d0b1 {
    border-radius: 50% !important;
    ;
}
._5pr2.fbChatSidebar .tickerStoryImage {
    border-radius: 50% !important;
    ;
}
._rv {
    border-radius: 50% !important;
}
._5pr2 ._56p9:after {
    border: none !important;
}
._55lt img {
    border-radius: 50% !important;
    ;
}
._5ys_ img {
    border-radius: 50% !important;
    ;
}
._5ys_:after {
    background-image: none !important;
}
._7lt ._7ls {
    background: none !important;
}
.jewelButton {
    transition: 0.2s !important;
}
._4lh ._2-d1 {
    background: #FFF:
}
html ._2dpc {
    border-radius: 50% !important;
}
._2dpe:after,
._2dpe:hover::after {
    background-image: none !important;
}
._5pr2.fbChatSidebar .fbFeedTickerStory .fbFeedTickerBorder {
    border-top: 1px solid transparent !important;
}
.fbChatSidebar .fbFeedTicker .fbFeedTickerStory {
    background-color: #FFFFFF !important;
}
._55y4 ._bui ._5afe {
    transition: 0.2s !important;
}
._33h {
    border-radius: 50% 50% !important;
}
._bjx {
    border-radius: 50% 50% !important;
}
._5d3_::after,
._gx8::after {
    border: none !important;
}
._54ru {
    border-radius: 50% 50% !important;
}
._303:hover,
._5bsm ._mp3:hover {
    transform: scale(1.1) !important;
    transition-delay: 0.1s !important;
    transition-duration: 0.2s !important;
}
.UFIReplyList {
    background-color: #FFF !important;
}
._1nc7 ._5w1r,
._1nc7 ._3okg:before {
    background-color: #FFF !important;
}
._5w1r {
    border-radius: none !important;
}
._1nc6 ._5w1r,
._1nc6 ._3okg:before {
    background-color: rgb(0, 119, 229) !important;
    border: none !important;
}
.fbDockChatTabFlyout .fbNubFlyoutBody {
    background-color: #FFF !important;
    background-image: none !important;
    color: #FFF !important;
    text-shadow: none !important;
}
._5w1r {
    border-radius: none !important;
}
._4m78 {
    border-radius: 50% !important;
    padding: none !important;
}
._4m78 {
    background: none;
}
._6lm._4m78 .uiScaledImageContainer.profilePic {
    border-radius: 50% !important;
}
._6ll {
    background: none !important;
}
._5w1r {
    text-shadow: none !important;
    border-radius: 0 !important;
}
._1nc7._2cnu ._5wdf {
    background: #FFF !important;
    box-shadow: none;
}
._1nc6 ._5w1r,
._1nc6 ._3okg:before {
    color: #FFF !important;
    border-radius: none !important;
    border: none !important;
    background-image: none !important;
    background-color: #0084FF !important;
}
._1nc6 ._5w1r a,
._1nc6 ._3okg a {
    color: #FFF !important;
    border-radius: none !important;
    border: none !important;
    background-image: none !important;
    background-color: #0084FF !important;
    color: #CCC !important;
}
._1nc7 ._d97 {
    background: #FFF !important;
}
._1nc7 ._5w1r,
._1nc7 ._3okg:before {
    background-color: #FFF;
    box-shadow: none !important;
}
._554m,
._42fz {
    background: #FFF !important;
}
._5vb_ ._5pr2 .fbSidebarGripper,
.fbCalendar ._5pr2 .fbSidebarGripper,
._1t4w ._5pr2 .fbSidebarGripper,
.timelineLayout ._5pr2 .fbSidebarGripper {
    background: #FFF !important;
}
._4m78 {
    padding: none !important;
}
._558b ._54nc {
    border: none !important;
}
._9jo ._54ne .uiLinkButton input,
._9jo ._54ne a.navSubmenu,
._9jo li.navSubmenu._54ne a,
._9jo li._54ne {
    background-color: #EEE !important;
    color: #333 !important;
    border: none !important;
    transition: 0.2s;
}
._5q5b .fbNubFlyoutTitlebar {
    border-radius: 0px !important;
}
._5q5b .fbNubFlyoutTitlebar,
._5q5b ._50-v .noTitlebar,
._5q5b ._50-v.openToggler .fbNubFlyoutTitlebar {
    border-radius: 0px !important;
    -webkit-border-radius: none !important;
    -webkit-border-top-left-radius: 0px !important;
    -webkit-border-top-right-radius: 0px !important;
}
._585- ._4w98 {
    border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
}
._4w96._585- {
    border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
}
._4w96._585- {
    border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
}
._585- {
    border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
}
._5vb_ ._5pr2.fbChatSidebar .fbFeedTicker .fbFeedTickerStory,
.fbCalendar ._5pr2.fbChatSidebar .fbFeedTicker .fbFeedTickerStory,
._1t4w ._5pr2.fbChatSidebar .fbFeedTicker .fbFeedTickerStory,
.timelineLayout ._5pr2.fbChatSidebar .fbFeedTicker .fbFeedTickerStory {
    border: none !important;
}
._5vb_ ._5pr2.fbChatSidebar .fbFeedTicker .fbFeedTickerStory:hover,
.fbCalendar ._5pr2.fbChatSidebar .fbFeedTicker .fbFeedTickerStory:hover,
._1t4w ._5pr2.fbChatSidebar .fbFeedTicker .fbFeedTickerStory:hover,
.timelineLayout ._5pr2.fbChatSidebar .fbFeedTicker .fbFeedTickerStory:hover,
._5vb_ ._5pr2.fbChatSidebar .fbFeedTicker .tickerStoryActive,
.fbCalendar ._5pr2.fbChatSidebar .fbFeedTicker .tickerStoryActive,
._1t4w ._5pr2.fbChatSidebar .fbFeedTicker .tickerStoryActive,
.timelineLayout ._5pr2.fbChatSidebar .fbFeedTicker .tickerStoryActive {
    border: none !important;
    box-shadow: none !important;
}
._4lh ._2-d1 {
    background-color: #FFF !important;
}
._43q7 .img {
    border-radius: 50% !important;
}
.litestandClassicWelcomeBox.fbxWelcomeBox .fbxWelcomeBoxBlock:after {
    border: none !important;
}
._5pcb {
    box-shadow: none !important;
}
._5q5b .fbNubFlyoutTitlebar {
    background: #0071DB !important;
    border: 1px solid #0071DB !important;
}
.fbNubFlyoutTitlebar:hover,
.menuOpened .fbNubFlyoutTitlebar {
    background-color: #0084FF !important;
}
._50mz .fbNubFlyoutInner {
    background-color: #FFF !important;
}
._4f7n {
    background-image: none !important;
    background: none !important;
    background-color: #3677B3 !important;
    border-bottom: none !important;
}
._4f7n:after {
    background-image: none !important;
}
._4w96._585- {
    border: 1px solid #3677B3 !important;
}
._4jy0,
._59pe:focus,
._59pe:hover {
    background-image: none !important;
    background: #FFF !important;
    -webkit-border-radius: 0 !important;
}
._4jy1,
._4jy1._42fr:active,
._4jy1._42fr._42fs {
    background-color: #519CE2 !important;
    border-color: #519CE2 !important;
}
._517h,
._59pe:focus,
._59pe:hover,
._517h._42fr:active,
._517h._42fr._42fs {
    border-color: #DDD !important;
}
.openToggler>._5vto,
.openToggler>._5vto:hover,
.openToggler>._5vto:focus,
.openToggler>._5vto:active {
    color: #333 !important;
}
.selected .sp_xaqr1RAVn_o.sx_22ea50 {
    background-position: -17px -560px !important;
}
.selected .sp_xaqr1RAVn_o.sx_436be3 {
    background-position: -18px -577px !important;
}
.selected .sp_Mc_3eRL_UwF.sx_032e90 {
    background-position: -9px -118px !important;
}
._4h7j {
    background-color: #FFF !important;
}
._558b ._54ng {
    -webkit-border-radius: 0 !important;
}
.selected .sp_Mc_3eRL_UwF.sx_b4137f {
    background-position: -18px 0 !important;
}
.fbxWelcomeBoxSmall .fbxWelcomeBoxProfilePicBlock:after {
    border: none !important;
}
}
._5v3q ._5puc ._5pbj,
._5v3q ._5puc ._5pbj:active {
    margin-right: 7px !important;
    margin-top: 17px !important;
}
._5v3q ._5puc ._5pbj,
._5v3q ._5puc ._5pbj:active {
    margin-right: 7px;
    margin-top: 17px;
}
.uiBoxGray {
    border: none !important;
}
._5vb_ ._5pr2.fbChatSidebar,
.fbCalendar ._5pr2.fbChatSidebar,
._1t4w ._5pr2.fbChatSidebar,
.timelineLayout ._5pr2.fbChatSidebar {
    background: #FFF !important;
}
._55y4 ._bui .selectedItem ._5afe:hover,
._55y4 .uiSideNavAux:hover~._5afe,
._55y4 .openToggler.uiSideNavAux+._5afe {
    background-color: rgb(238, 238, 238) !important;
}
._5vb_ ._55y4 ._bui ._5afe:hover,
._5vb_ ._55y4 ._bui ._5afe:focus,
._5vb_ ._55y4 ._bui ._5afe:active,
._5vb_ ._55y4 ._bui ._5afd ._5afe {
    background-color: rgb(238, 238, 238) !important;
}
.openToggler ._2jq5,
._2jq5:focus,
._2jq5:hover {
    background-image: none !important;
    background-color: #EEE !important;
}
.sp_gncQjVbYhkB.sx_4bd42a {
    width: 16px !important;
    height: 16px !important;
    background-position: -31px -389px !important;
    background-size: 55px 620px !important;
}
._4jy0,
._59pe:focus,
._59pe:hover {
    background: #F0F0F0 !important;
    border: none !important;
    color: #333 !important;
    text-shadow: none !important;
}
.selected .sp_vDGIjRwzzO8.sx_c37fbe {
    background-position: -47px -135px !important
}
.selected .sp_gncQjVbYhkB.sx_8894ea {
    background-position: -13px -175px !important;
}
._558b ._54ne ._54nc {
    background-color: rgb(238, 238, 238) !important;
    border-color: rgb(238, 238, 238) !important;
    color: #333 !important;
}
._4jy1._4jy3,
._4jy1._4jy3._42fr:active,
._4jy1._4jy3._42fr._42fs {
    background-position: 0 -335px;
    background-color: rgb(81, 156, 226) !important;
    border-color: rgb(81, 156, 226) !important;
}
._2ako {
    border-radius: 50% !important;
}
._115b .img {
    border-radius: 50% !important;
}
._5or1 .img {
    border-radius: 50% !important;
}
._308m .img {
    border-radius: 50% !important;
}
.fbxWelcomeBox .fbxWelcomeBoxBlock .fbxWelcomeBoxImg {
    border-radius: 50% !important;
}
.mts {
    box-shadow: none !important;
}
._5vb_ ._5rzs .uiHeader,
._5vb_ #rightCol ._5rzs .uiHeader.uiSideHeader,
._5vb_ ._5rzs .pagelet:first-child .pagelet .uiHeader,
._5vb_ #rightCol ._5rzs .pagelet:first-child .pagelet .uiHeader.uiSideHeader,
._5vb_ ._5v6e #pagelet_group_requests+.rightColumnWrapper .pagelet:first-child .uiHeader.uiSideHeader {
    box-shadow: none !important;
}
._5v6h #rightCol .cardRightCol {
    border: none !important;
}
._4jy1._4jy3,
._4jy1._4jy3._42fr:active,
._4jy1._4jy3._42fr._42fs {
    color: #FFF !important;
}
._1y2l .jewelContent a.messagesContent {
    border-top: none !important;
    border-bottom: none !important;
    transition: 0.2s;
}
._s0:only-child {
    border-radius: 50% !important;
}